body {
  background: #1d1d1d;
  height: 100%;
}

.pac-man {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 100rem 100rem 0 0;
  background: #f00;
  transform-origin: bottom;
  animation: eating-top 0.5s infinite;
  width: 30px;
  height: calc(30px / 2);
  background: #fed75a;
}

.pac-man, .pac-man::before {
  width: 30px;
  height: calc(30px / 2);
  background: #fed75a;
}

.pac-man::before {
  content: '';
  display: block;
  margin-top: calc(30px / 2);
  position: absolute;
  transform-origin: top;
  border-radius: 0 0 100rem 100rem;
  transform: rotate(80deg);
  animation: eating-bottom 0.5s infinite;
}

.pac-man::after {
  position: absolute;
  border-radius: 100rem;
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  margin-top: calc((30px / 2) - 3px);
  margin-left: calc((30px / 2) - 3px);
  transform-origin: center;
  animation: center 0.5s infinite, ball 0.5s -0.33s infinite linear;
}

@keyframes eating-top {
  0% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

@keyframes eating-bottom {
  0% {
    transform: rotate(80deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(80deg);
  }
}

@keyframes center {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

@keyframes ball {
  0% {
    box-shadow: 34px 0 0 0 #fff, 57px 0 0 0 #fff, 80px 0 0 0 #fff;
  }
  100% {
    box-shadow: 10px 0 0 0 #fff, 34px 0 0 0 #fff, 57px 0 0 0 #fff;
  }
}
