a {
    font-size: 1.5rem;
}

a>img {
    border-radius: 1em;
}

body {
    background: rgb(223, 222, 208) !important;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 4%, rgba(61, 242, 245, 1) 30%, rgba(23, 73, 155, 1) 100%) !important; */
}

#response {
    align-items: center;
    text-align: center;
    margin-top: 1em;
}

#grid {
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 1em;
    display: table !important;
    margin-bottom: 1em !important;
}

#loading-screen {
    width: 100%;
    height: 100%;
    z-index: 1001;
    margin-top: 1em;
    background-color: black !important;
    background-repeat: no-repeat;
}

#giphinator {
    margin-top: 2em;
    border-radius: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#search-text {
    margin-top: 0.7em;
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: hsla(5, 76%, 62%, .8);
}

#upload-button {
    margin-top: -3em;
    margin-left: 1em;
}

#reset-button {
    margin-top: -3em;
}

.nav-link.active {
    font-weight: bold;
    color: rgba(52, 145, 147, 0.687) !important
}

.nav-link:hover {
    cursor: pointer;
    color: rgba(52, 145, 147, 0.687) !important
}

.grid-item {
    width: 300px !important;
    border-radius: 1em !important;
    margin-bottom: 0.5em !important;
}

/* this is the GIF */
.grid-item img {
    width: 100% !important;
    border: 0.3em solid white;
    border-radius: 1em;
}

/* this is the GIF on hover */
.grid-item img:hover {
    /* opacity: 1; */
    /* backdrop-filter: blur(5px); */
}

/* this hold heart and title */
.inner-div-details {
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    /* transition-duration: .5s; */
}

/* this hold heart and title */
.inner-div-details:hover {
    opacity: 1;
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    border-radius: 1em;
}

/* this hold the span for heart  */
.heart-holder {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* this is the Title */
.title-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

/* this is the heart  */
.heart-holder span {}



.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s;
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8);
}

.favorite-gif-message {
    margin-top: 2em;
    animation: fadeOut 5s;
    padding-top: 2em;
    text-align: center;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}